@media (max-width:1220px)
{
    #rightbar{
        display: none;
    }
    .Post-container , .storybar{
        max-width: 100%;
        margin: 20px auto;
    }
    .icon{
        font-size: 30px !important;
    }
    .Post-pic{
        max-width: inherit;
    }

}
@media (max-width:900px)
{
    #navbar{
        padding: 5vw;
        height: 20px;
        max-width: 90vw;
        align-items: center;
        justify-content: left;
    }
    .Nav-logo{
        position: absolute;
        top: 25%;
    }
    .Nav-search{
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
        height: 30px;
    }
    .Post-container {
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        height: auto;
    }
    .storybar
    {
        margin-left:0 ;
        margin-right:0;
        width: 93vw;
    }
    .sidebar {
        display: none;
    }
   
    .downbar{
        display: flex;
        position: fixed;
        height: 20px;
        padding: 5vw;
        width: 90vw;
        align-items: center;
        justify-content: space-evenly;
        bottom: 0;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
    }
    .Post-pic{
        max-width: inherit;
    }
   
}
