#rightbar{
    z-index: 1000;
    position: fixed;
    top: 100px ;
    right: 30px;
    transition: 0.5s;
}

@media (max-width:1220px)
{
    #rightbar{
        display: none;
    }
    .Post-container , .storybar{
        max-width: 100%;
        margin: 20px auto;
    }
    .Post-react{
        font-size: small;
    }

}
@media (orientation:portrait)
{
    .Post-container , .storybar{
        width: 98vw;
        margin: 0 auto;
    }
}
